# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE specific files
.idea/
.vscode/
**/.claude/settings.local.json
node_modules

# Ignore liquid-expanded Functions files
functions*/**/en.default.json
functions*/**/run.graphql
functions*/**/fetch.graphql
functions*/**/generate_cart_run.graphql
functions*/**/generate_delivery_run.graphql
functions*/**/cart_delivery_options_discounts_generate_run.graphql
functions*/**/cart_lines_discounts_generate_run.graphql
functions*/**/Cargo.toml
functions*/**/shopify.extension.toml
functions*/**/package.json
functions*/**/index.js
functions*/**/index.ts
functions*/**/run.js
functions*/**/run.ts
functions*/**/fetch.js
functions*/**/fetch.ts
functions*/**/generate_cart_run.js
functions*/**/generate_cart_run.ts
functions*/**/generate_delivery_run.js
functions*/**/generate_delivery_run.ts
functions*/**/cart_delivery_options_discounts_generate_run.js
functions*/**/cart_delivery_options_discounts_generate_run.ts
functions*/**/cart_lines_discounts_generate_run.js
functions*/**/cart_lines_discounts_generate_run.ts
functions*/**/run.test.js
functions*/**/run.test.ts
functions*/**/fetch.test.js
functions*/**/fetch.test.ts
functions*/**/generate_cart_run.test.js
functions*/**/generate_cart_run.test.ts
functions*/**/generate_delivery_run.test.js
functions*/**/generate_delivery_run.test.ts
functions*/**/cart_delivery_options_discounts_generate_run.test.js
functions*/**/cart_delivery_options_discounts_generate_run.test.ts
functions*/**/cart_lines_discounts_generate_run.test.js
functions*/**/cart_lines_discounts_generate_run.test.ts
functions*/**/cart_fulfillment_constraints_generate_run.graphql
functions*/**/cart_fulfillment_constraints_generate_run.js
functions*/**/cart_fulfillment_constraints_generate_run.ts
functions*/**/cart_fulfillment_constraints_generate_run.test.js
functions*/**/cart_fulfillment_constraints_generate_run.test.ts
functions*/**/cart_delivery_options_transform_run.graphql
functions*/**/cart_delivery_options_transform_run.js
functions*/**/cart_delivery_options_transform_run.ts
functions*/**/cart_delivery_options_transform_run.test.js
functions*/**/cart_delivery_options_transform_run.test.ts
functions*/**/cart_fulfillment_groups_location_rankings_generate_run.graphql
functions*/**/cart_fulfillment_groups_location_rankings_generate_run.js
functions*/**/cart_fulfillment_groups_location_rankings_generate_run.ts
functions*/**/cart_fulfillment_groups_location_rankings_generate_run.test.js
functions*/**/cart_fulfillment_groups_location_rankings_generate_run.test.ts
functions*/**/cart_transform_run.graphql
functions*/**/cart_transform_run.js
functions*/**/cart_transform_run.ts
functions*/**/cart_transform_run.test.js
functions*/**/cart_transform_run.test.ts

# Ignore local build files
functions*/generated
yarn.lock
package-lock.json
Cargo.lock
target/
