name: Validate Rust Functions

on:
  pull_request:
    branches: ["main"]
    paths:
      - "functions-*-rs/**"
      - "package.json"
      - "Cargo.toml"
      - "rust-toolchain.toml"
      - ".github/workflows/validate-rust-functions.yml"

env:
  CARGO_TERM_COLOR: always

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install node dependencies
        run: yarn
      - name: Expand liquid
        run: CI=1 yarn expand-liquid rust
      - name: Run cargo fmt
        run: cargo fmt --check
      - name: Run clippy
        run: cargo clippy -- -D warnings
      - name: Run tests
        run: cargo test
      - name: Build with wasm32-unknown-unknown target
        run: cargo build --release --target wasm32-unknown-unknown
