name: Validate TS Functions

on:
  pull_request:
    branches: ["main"]
    paths:
      - "functions-*-js/**"
      - "package.json"
      - ".github/workflows/validate-ts-functions.yml"

env:
  CARGO_TERM_COLOR: always

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install node dependencies
        run: yarn
      - name: Expand liquid for TypeScript functions
        run: CI=1 yarn expand-liquid typescript
      - name: Install workspace dependencies
        run: yarn
      - name: Generate types
        run: yarn js-typegen
